@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #00ff41;
}

/* Custom Scrollbar for that "Hacker" feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #003300;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff41;
}